html {
    overflow-y: hidden !important;
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ececec;
  overflow-x: hidden;
  height: 100%;
}

.navbar {
    margin-bottom: 20px;
}

.box.sidemenu {
    width: 300px;
    border-radius: 0px 5px 5px 0px;
}

.box.view {
    border-radius: 5px 0px 0px 5px;
}
